.headerContent {
	background-color: #FF8800;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
	.headerText {
		color: #ffffff;
    margin: 0;
    padding-left: 1em;
	}
}