<div id="handsContent">
  <div id="handsHeader">
    <h1>Hands
      <span *ngIf="showWinner && winnerPlayer.player">- Winner is Player {{ winnerPlayer.player }} with a {{ winnerPlayer.hand }}</span>
      <span *ngIf="showWinner && !winnerPlayer.player">- It's a TIE</span>
    </h1>
  </div>
  <div id="handsBody">
    <div class="handsControllers">
      <button (click)="addPlayer()" class="addPlayerBtn">Add player</button>
      <button (click)="clearPlayers()" class="clearPlayersBtn">Clear players</button>
      <button (click)="generateHands()" class="generateHandBtn">Generate hands</button>
      <button (click)="verifyHands()" class="verifyHandsBtn">Verify hands</button>
    </div>
    <div class="players">
      <p *ngIf="this.errorMsg" class="errorMsg">{{ this.errorMsg }}</p>
      <div *ngFor="let player of players;let i = index">
        <div class="playerHand">
          Player {{ i + 1 }}
          <div class="cardsBox">
            <div class="card" *ngFor="let card of player.cards">
              {{ card }}
              <img src="../../assets/images/{{card}}.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
