.mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  .contentHeader {
		position: fixed;
    width: 100%;
    height: 60px;
  }

  .contentBody {
    display: flex;
    height: 100%;
		margin-top: 60px;
  }
}