html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex: 1;
  width: 100%;
  overflow-x: hidden;

  app-root {
    height: 100%;
    display: block;
    width: 100%;
  }
}

app-dashboard {
  height: 100%;
  width: 100%;
}

@media(max-width: 768px) {
  body {
    height: auto;
    display: block;
  }
}
